.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex; 
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.post-bkg {
  background-color: #c0c0c0;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
  width: 75vw;
}

.read-more {
  font-style: italic;
  display: inline;
}

.header-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}